.Rhistory
DGN-EN_to_GTEx-pilot.tiff
Fig3.GEU.qqR2.tiff
compareR2_h2.tiff
ggpairs_DGN-WB_10-fCV.tiff
DGN_to_GEU_qqR2_R2h2.tiff
Fig4.DGNtoGEU.examples.tiff
compareR2_h2_lasso_poly_top.tiff
ggpairs_DGN-WB_10-fCV_with_topSNP.tiff
*.swp
